<a href="https://colab.research.google.com/github/arifroska/PrakAPM/blob/main/Rule_base_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
#importing libraries
import datetime as dt
import pandas as pd

In [ ]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [ ]:
#import file
from google.colab import files
uploaded = files.upload()

Saving HotelCustomersDataset.xlsx to HotelCustomersDataset.xlsx

In [ ]:
import io

#import file
df = pd.read_excel(io.BytesIO(uploaded['HotelCustomersDataset.xlsx']))
df.head()

,ID,Nationality,Age,DaysSinceCreation,NameHash,DocIDHash,AverageLeadTime,LodgingRevenue,OtherRevenue,BookingsCanceled,...,SRMediumFloor,SRBathtub,SRShower,SRCrib,SRKingSizeBed,SRTwinBed,SRNearElevator,SRAwayFromElevator,SRNoAlcoholInMiniBar,SRQuietRoom
0,1,PRT,51.0,150,0x8E0A7AF39B633D5EA25C3B7EF4DFC5464B36DB7AF375...,0x71568459B729F7A7ABBED6C781A84CA4274D571003AC...,45,371.0,105.3,1,...,0,0,0,0,0,0,0,0,0,0
1,2,PRT,NaN,1095,0x21EDE41906B45079E75385B5AA33287CA09DE1AB86DE...,0x5FA1E0098A31497057C5A6B9FE9D49FD6DD47CCE7C26...,61,280.0,53.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,DEU,31.0,1095,0x31C5E4B74E23231295FDB724AD578C02C4A723F4BA2B...,0xC7CF344F5B03295037595B1337AC905CA188F1B5B3A5...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,FRA,60.0,1095,0xFF534C83C0EF23D1CE516BC80A65D0197003D27937D4...,0xBD3823A9B4EC35D6CAF4B27AE423A677C0200DB61E82...,93,240.0,60.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,FRA,51.0,1095,0x9C1DEF02C9BE242842C1C1ABF2C5AA249A1EEB4763B4...,0xE175754CF77247B202DD0820F49407C762C14A603B3A...,0,0.0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
df.shape

(83590, 31)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83590 entries, 0 to 83589
Data columns (total 31 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    83590 non-null  int64
 1   Nationality           83590 non-null  object
 2   Age                   79811 non-null  float64
 3   DaysSinceCreation     83590 non-null  int64
 4   NameHash              83590 non-null  object
 5   DocIDHash             83590 non-null  object
 6   AverageLeadTime       83590 non-null  int64
 7   LodgingRevenue        83590 non-null  float64
 8   OtherRevenue          83590 non-null  float64
 9   BookingsCanceled      83590 non-null  int64
 10  BookingsNoShowed      83590 non-null  int64
 11  BookingsCheckedIn     83590 non-null  int64
 12  PersonsNights         83590 non-null  int64
 13  RoomNights            83590 non-null  int64
 14  DaysSinceLastStay     83590 non-null  int64
 15  DaysSinceFirstStay    83590 non-null  int64
 16  DistributionChannel   83590 non-null  object
 17  MarketSegment         83590 non-null  object
 18  SRHighFloor           83590 non-null  int64
 19  SRLowFloor            83590 non-null  int64
 20  SRAccessibleRoom      83590 non-null  int64
 21  SRMediumFloor         83590 non-null  int64
 22  SRBathtub             83590 non-null  int64
 23  SRShower              83590 non-null  int64
 24  SRCrib                83590 non-null  int64
 25  SRKingSizeBed         83590 non-null  int64
 26  SRTwinBed             83590 non-null  int64
 27  SRNearElevator        83590 non-null  int64
 28  SRAwayFromElevator    83590 non-null  int64
 29  SRNoAlcoholInMiniBar  83590 non-null  int64
 30  SRQuietRoom           83590 non-null  int64
dtypes: float64(3), int64(23), object(5)
memory usage: 19.8+ MB

In [ ]:
df.columns

Index(['ID', 'Nationality', 'Age', 'DaysSinceCreation', 'NameHash',
       'DocIDHash', 'AverageLeadTime', 'LodgingRevenue', 'OtherRevenue',
       'BookingsCanceled', 'BookingsNoShowed', 'BookingsCheckedIn',
       'PersonsNights', 'RoomNights', 'DaysSinceLastStay',
       'DaysSinceFirstStay', 'DistributionChannel', 'MarketSegment',
       'SRHighFloor', 'SRLowFloor', 'SRAccessibleRoom', 'SRMediumFloor',
       'SRBathtub', 'SRShower', 'SRCrib', 'SRKingSizeBed', 'SRTwinBed',
       'SRNearElevator', 'SRAwayFromElevator', 'SRNoAlcoholInMiniBar',
       'SRQuietRoom'],
      dtype='object')

In [ ]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
ID,83590.0,41795.500000,24130.498838,1.0,20898.25,41795.5,62692.750,83590.00
Age,79811.0,45.398028,16.572368,-11.0,34.00,46.0,57.000,122.00
DaysSinceCreation,83590.0,453.640902,313.390291,0.0,177.00,397.0,723.000,1095.00
AverageLeadTime,83590.0,66.196028,87.758990,-1.0,0.00,29.0,103.000,588.00
LodgingRevenue,83590.0,298.802087,372.851892,0.0,59.00,234.0,402.000,21781.00
OtherRevenue,83590.0,67.589132,114.327776,0.0,2.00,38.5,87.675,7730.25
BookingsCanceled,83590.0,0.002022,0.066770,0.0,0.00,0.0,0.000,9.00
BookingsNoShowed,83590.0,0.000634,0.029545,0.0,0.00,0.0,0.000,3.00
BookingsCheckedIn,83590.0,0.794617,0.695778,0.0,1.00,1.0,1.000,66.00
PersonsNights,83590.0,4.649133,4.567673,0.0,1.00,4.0,6.000,116.00
RoomNights,83590.0,2.358536,2.281746,0.0,1.00,2.0,4.000,185.00
DaysSinceLastStay,83590.0,401.067137,347.204955,-1.0,26.00,366.0,693.000,1104.00
DaysSinceFirstStay,83590.0,403.349013,347.971089,-1.0,27.00,369.0,697.000,1186.00
SRHighFloor,83590.0,0.047482,0.212668,0.0,0.00,0.0,0.000,1.00
SRLowFloor,83590.0,0.001412,0.037546,0.0,0.00,0.0,0.000,1.00
SRAccessibleRoom,83590.0,0.000251,0.015848,0.0,0.00,0.0,0.000,1.00
SRMediumFloor,83590.0,0.000873,0.029539,0.0,0.00,0.0,0.000,1.00
SRBathtub,83590.0,0.002847,0.053284,0.0,0.00,0.0,0.000,1.00
SRShower,83590.0,0.001711,0.041326,0.0,0.00,0.0,0.000,1.00
SRCrib,83590.0,0.013219,0.114213,0.0,0.00,0.0,0.000,1.00
SRKingSizeBed,83590.0,0.352686,0.477809,0.0,0.00,0.0,1.000,1.00
SRTwinBed,83590.0,0.142541,0.349606,0.0,0.00,0.0,0.000,1.00
SRNearElevator,83590.0,0.000335,0.018299,0.0,0.00,0.0,0.000,1.00
SRAwayFromElevator,83590.0,0.003505,0.059101,0.0,0.00,0.0,0.000,1.00
SRNoAlcoholInMiniBar,83590.0,0.000120,0.010937,0.0,0.00,0.0,0.000,1.00
SRQuietRoom,83590.0,0.088372,0.283837,0.0,0.00,0.0,0.000,1.00

In [ ]:
#menghapus data missing dari dataset
df.dropna(inplace=True)
df.isnull().sum()

ID                      0
Nationality             0
Age                     0
DaysSinceCreation       0
NameHash                0
DocIDHash               0
AverageLeadTime         0
LodgingRevenue          0
OtherRevenue            0
BookingsCanceled        0
BookingsNoShowed        0
BookingsCheckedIn       0
PersonsNights           0
RoomNights              0
DaysSinceLastStay       0
DaysSinceFirstStay      0
DistributionChannel     0
MarketSegment           0
SRHighFloor             0
SRLowFloor              0
SRAccessibleRoom        0
SRMediumFloor           0
SRBathtub               0
SRShower                0
SRCrib                  0
SRKingSizeBed           0
SRTwinBed               0
SRNearElevator          0
SRAwayFromElevator      0
SRNoAlcoholInMiniBar    0
SRQuietRoom             0
dtype: int64

In [ ]:
df["Total_revenue"]=df["LodgingRevenue"]+df["OtherRevenue"]
df=df[df["Total_revenue"]>0]

In [ ]:
df["DocIDHash"].nunique()

58230

In [ ]:
df["NameHash"].nunique()

58631

In [ ]:
df["Nationality"].value_counts().sort_values(ascending=False).head()

FRA    9379
DEU    7894
GBR    6567
PRT    6476
ESP    3935
Name: Nationality, dtype: int64

In [ ]:
df.groupby(['Nationality'])['Total_revenue'].agg('mean').head(10)

Nationality
ABW     717.740000
AGO     757.726908
AIA     645.050000
ALB     387.989091
AND    1253.416667
ARE     703.281111
ARG     508.846133
ARM     532.580000
ASM     374.250000
ATA     270.500000
Name: Total_revenue, dtype: float64

In [ ]:
df["Segment"]=pd.qcut(df['Total_revenue'], 4, labels=['D','C','B','A'])
df[["Segment","Total_revenue"]].groupby("Segment").agg(["mean","min","max","sum"])

        Total_revenue
                 mean     min       max          sum
Segment
D          158.424392    1.00    242.09   2397753.17
C          311.698396  242.10    383.00   4721919.00
B          470.676399  383.06    584.00   7124157.98
A         1011.605827  584.05  11930.66  15295480.11

In [ ]:
agg_df =pd.DataFrame(df.groupby(['Nationality','DistributionChannel'])['Total_revenue'].agg('mean')).round(2).sort_values("Total_revenue")
agg_df.head(10)

                                     Total_revenue
Nationality DistributionChannel
SYC         Travel Agent/Operator            92.75
LBN         Electronic Distribution          96.00
PER         Electronic Distribution          99.00
MEX         Electronic Distribution         112.50
PAK         Corporate                       112.50
GAB         Travel Agent/Operator           117.50
COL         Electronic Distribution         125.00
RUS         Electronic Distribution         128.50
WLF         Travel Agent/Operator           137.20
COL         Corporate                       143.50

In [ ]:
agg_df=agg_df.reset_index()
agg_df.head()

  Nationality      DistributionChannel  Total_revenue
0         SYC    Travel Agent/Operator          92.75
1         LBN  Electronic Distribution          96.00
2         PER  Electronic Distribution          99.00
3         MEX  Electronic Distribution         112.50
4         PAK                Corporate         112.50

In [ ]:
agg_df['customers_level_based'] = [str(row[0]).upper()+'_'+str(row[1]).upper() for row in agg_df.values]
agg_df = agg_df[["customers_level_based","Total_revenue"]].groupby("customers_level_based").agg("mean").round(2)
agg_df=agg_df.reset_index()
agg_df.head()

       customers_level_based  Total_revenue
0  ABW_TRAVEL AGENT/OPERATOR         717.74
1              AGO_CORPORATE         946.10
2                 AGO_DIRECT         543.87
3  AGO_TRAVEL AGENT/OPERATOR        1098.33
4  AIA_TRAVEL AGENT/OPERATOR         645.05

In [ ]:
new_user='BRA_DIRECT'
agg_df[agg_df["customers_level_based"] == new_user]

   customers_level_based  Total_revenue
51            BRA_DIRECT         652.59